<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="../static/favicon.ico">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>


  <title>VxTel Falemais</title>
</head>

{% block content %}


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img alt="150x100" width="30vw" height="20vh" src="../static/favicon.ico">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Planos Fale Mais</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Área do cliente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Minha conta</a>
            <a class="dropdown-item" href="#">Contratar plano</a>
            <a class="dropdown-item" href="#">Falar com o suporte</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <div class="gcse-search">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </div></form>
  </nav>



  <div class="container-fluid">
    <div class="mx-auto" style="width: 200px;">
      <img alt="150x100" width="150" height="100" src="../static/logo.png">
    </div>
    <div class="mx-auto" style="width: 200px;">
      <b>Fale mais, pague menos</b>
    </div>
    <div class="mx-auto" style="padding: 20px">
      <h1>Bem vindo, cliente!</h1>
      <br>
      <b>Calcule aqui o valor da sua ligação e descubra porque o FaleMais te ajuda a economizar:</b>
      <br>
    </div>
    <form method="POST">

      <div class="form-group" style="padding-left: 2vw">
        <label for="origin code">DDD de origem:</label>
        <select class="form-control" id="origin code" name="origin">
          <option>011</option>
          <option>016</option>
          <option>017</option>
          <option>018</option>
        </select>
        <small id="originHelp" class="form-text text-muted">Coloque aqui o DDD do telefone do qual você irá realizar
          a chamada </small>
      </div>

      <div class="form-group" style="padding-left: 2vw">
        <label for="destiny code">DDD de destino:</label>
        <select class="form-control" id="destiny code" name="destiny">
          <option>011</option>
          <option>016</option>
          <option>017</option>
          <option>018</option>
        </select>
        <small id="destinyHelp" class="form-text text-muted">Coloque aqui o DDD do telefone do número que você irá
          chamar </small>
      </div>

      <div class="form-group" style="padding-left: 2vw">
        <label for="duration">Quantos minutos você quer falar?</label>
        <input type="number" class="form-control" id="duration" name="duration" required>
        <small id="durationHelp" class="form-text text-muted">Coloque aqui a duração da chamada em
          minutos inteiros </small>
      </div>

      <div class="form-group" style="padding-left: 2vw">
        <label for="plano">Escolha o seu plano:</label>
        <select class="form-control" id="plan name" name="plan name">
          <option>FaleMais 30</option>
          <option>FaleMais 60</option>
          <option>FaleMais 120</option>
        </select>
      </div>

      <div class="mx-auto" style="width: 200px;">
        <form method="get" action="calculate_fees.html"><button type="submit" class="btn btn-success">Calcular</button>
          </a>

        </form>
      </div>

  </div>

  
  {% endblock content %}

</body>

</html>