{% extends 'base.html' %}

<body>
    {% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Principal</a></li>
            <li class="breadcrumb-item">Calcular valor</a></li>
        </ol>
    </nav>
    <div class="mx-auto" style="width: 200px;">
        <img alt="mulher idosa de óculos sorridente fazendo um sinal de ok com a mão" width="150" height="100"
            src="../static/happy-old-woman-eye-glasses-showing-ok-isolated-white-35808305.jpg">
    </div>
    <div class="jumbotron">
        <p class="display-4">Prontinho!</p>
        <p class="lead">Confira aqui o valor da ligação de {{total_fee[5]}} minutos do DDD {{total_fee[3]}} para o DDD
            {{total_fee[4]}}:</p>
        <hr class="my-4">
        <b>Tarifa sem o plano {{total_fee[2]}}: </b> {{total_fee[0]}}
        <br>
        <b>Tarifa com o plano {{total_fee[2]}}: </b> {{total_fee[1]}}
        <br>

        <div class="mx-auto" style="width: 200px;">

            <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>
            </form>
        </div>
    </div>
    </div>


    {% endblock content %}


</body>