{% extends 'base.html' %}

<body>
    {% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Principal</a></li>
            <li class="breadcrumb-item">Dados inválidos</a></li>

        </ol>
    </nav>
    <div class="mx-auto" style="width: 200px;">
        <img alt="mulher idosa confusa segurando um cabo rompido" width="150" height="100"
            src="../static/invalid_data.png">
    </div>
    <div class="jumbotron">
        <p class="display-4">Ooooops!</p>
        <p class="lead">Não conseguimos calcular a tarifa com os dados que você inseriu.
            Certifique-se de usar um DDD válido, e os minutos inteiros, sem vírgulas ou pontos. </p>
        <small id="originHelp" class="form-text text-muted">
            * O Plano FaleMais está disponível apenas para ligações a partir do DDD 011 ou para o DDD 011.
            </small>
            <hr class="my-4">


            <div class="mx-auto" style="width: 200px;">
                <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>

                </form>
            </div>
    </div>


    {% endblock content %}

</body>